.place__title {
    font-family: 'Inter', Arial, sans-serif;
    width: 460px;
    font-weight: 900;
    font-style: normal;
    font-size: 72px;
    line-height: 76px;
    margin: 0 0 48px;
    padding: 0;
}

@media screen and (max-width: 1150px) {
    .place__title {
        width: 440px;
    }
}

@media screen and (max-width: 1020px) {
    .place__title {
        width: 340px;
        font-size: 44px;
        line-height: 46px;
    }
}

@media screen and (max-width: 765px) {
    .place__title {
        width: 288px;
        font-size: 32px;
        line-height: 35px;
        margin: 0 0 32px;
    }
}