.places {
    max-width: 984px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

@media screen and (max-width: 1150px) {
    .places {
        min-width: 928px;
    }
}

@media screen and (max-width: 1020px) {
    .places {
        min-width: 720px;
        margin: 0 24px;
    }
}

@media screen and (max-width: 765px) {
    .places {
        min-width: 320px;
        margin: 0;
    }
}