.intro {
    max-width: 690px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 92px 0 0;
}

@media screen and (max-width: 1150px) {
    .intro {
        margin: 92px 48px 0;
    }
}

@media screen and (max-width: 1020px) {
    .intro {
        min-width: 720px;
        margin: 88px 24px 0;
    }
}

@media screen and (max-width: 765px) {
    .intro {
        min-width: 288px;
        margin: 64px 16px 0;
    }
}
