.cover {
    max-width: 1184px;
    margin: 92px auto;
    position: relative;
}

@media screen and (max-width: 1220px) {
    .cover {
        width: 100%;
    }
}

@media screen and (max-width: 1020px) {
    .cover {
        margin: 90px 0 88px;
    }
}

@media screen and (max-width: 765px) {
    .cover {
        margin: 66px 0 64px;
    }
}