.cover__title {
    max-width: 560px;
    box-sizing: border-box;
    padding: 0 5px;
    font-family: 'Inter', Arial, sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 72px;
    line-height: 76px;
    text-align: center;
    margin: auto auto 0;
}

@media screen and (max-width: 767px) {
    .cover__title {
        max-width: 288px;
        margin: auto auto 0;
        font-size: 32px;
        line-height: 35px;
    }
}