.place {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2, auto-fit);
    margin: 0 0 80px;
}

@media screen and (max-width: 1020px) {
    .place {
        justify-items: start;
    }
}

@media screen and (max-width: 765px) {
    .place {
        grid-template-rows: repeat(auto-fill, auto-fit);
        grid-template-columns: 1fr;
    }
}