.footer {
    width: calc(100% - 48px * 2);
    max-width: 1184px;
    display: flex;
    flex-direction: row;
    margin: 0 auto 24px;
}

@media screen and (max-width: 1150px){
    .footer {
        max-width: 928px;
        margin: 0 auto 24px;
    }
}

@media screen and (max-width: 1020px){
    .footer {
        width: calc(100% - 24px * 2);
        max-width: 720px;
        margin: 0 auto 24px;
    }
}

@media screen and (max-width: 765px){
    .footer {
        min-width: 186px;
        flex-direction: column;
        margin: 0 auto 24px 16px;
    }
}