.place__website {
    max-width: 456px;
    margin: 0 0 48px;
    align-self: flex-end;
}

@media screen and (max-width: 765px) {
    .place__website {
        min-width: 288px;
        margin: 0 0 32px;
        padding-left: 16px;
    }
}